html, body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

.centered {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

img {
  height: 100%;
  position: absolute;
  top: 0px;
}

.nextImage {
  z-index: 0;
}

.currentImage {
  z-index: 1;
}